doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Grid Test
		link(rel='stylesheet', href='styles/homepage.css')
		script(src='js/dependencies/third-party/dojo/dojo.js', data-dojo-config="parseOnLoad: true, async: true")
		script(src='js/homepage.js')
	body(class='claro')
		#preLoader(data-dojo-id='preLoader')
		div(data-dojo-type='dijit.layout.BorderContainer', style='width: 98%; height: 98%')
			div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="region:'leading', splitter:true", style='width: 80%')
				div(data-dojo-type='dijit.layout.TabContainer', style="width:100%; height:100%")
					div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="title:'Grid'")
						div(id='createRecord', class='dgrid dgrid-grid ui-widget', role='grid')
					div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="title:'Graph'", style='width: 80%')
			div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="region:'center'", data-dojo-id='centerPane')
				div(data-dojo-type='dijit.layout.TabContainer', style="width:100%; height:100%")
					div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="title:'Main'")
						input(type='text', name='search', value='search', data-dojo-type="dijit/form/TextBox", data-dojo-props="trim:true, propercase:true" id="search", style='width: 8em')
					div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="title:'Filters'")
						div(id='search')
			div(data-dojo-type='dijit.layout.ContentPane', data-dojo-props="region:'bottom'", data-dojo-id='bottomPane')
				div(class="left")= title
				div(class="right", style='width: 1.8em; height: 1.8em')
					object(data="http://www.w3.org/html/logo/downloads/HTML5_Badge.svg", type="image/svg+xml", style='width: 98%; height: 98%')
